/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Actual styles */

:root {
  --body-color: #cbc8c0;
  --title-color: #0c4649;
  --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

html,
body {
  height: 100dvh;
}

#showBooks {
  display: grid;
  gap: 8px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
}

/* Styles cards for books */
#showBooks > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 16px 16px 16px 30px;
  background-color: #bbdbd9;
  box-shadow: var(--card-shadow);
}

.btns-div {
  margin-top: auto;
  padding-top: 16px;
  display: flex;
  gap: 8px;
}

.book-data-title {
  font-weight: bold;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-columns: 1fr 4fr;

  background: linear-gradient(to bottom right, #cbc8c0, #e2dbc8),
    url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-blend-mode: multiply;
  background-size: cover;
}

.header {
  grid-column: 2/ -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--title-color);
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/lib-img2.jpg);
  background-size: cover;
}

.body {
  grid-column: 2 / 3;
}
